@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .form-input {
        @apply mt-1 block w-full px-3 py-2 bg-white border border-slate-300 rounded-md text-sm shadow-sm placeholder-slate-400
    focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500 my-2;
    }
}
.dropdown {
position: relative;
display: inline-block;
border-radius: 10%;
margin-right: 20px;
}


.dropdown-content {
display: none;
position: absolute;
background-color: #f9f9f9;
width: max-content;
box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
z-index: 1;
border-radius: 10%;
}

.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}

.dropdown-content a:hover {
background-color: #ddd;
border-radius: 10%;

}

.dropdown:hover .dropdown-content {
display: block;
border-radius: 10%;

}
